:host {
  width: 100%;
}

mat-icon {
  height: 30px;
  width: 30px;
  font-size: 25px;
  padding-left: 2.5px;
  padding-top: 2.5px;
}

#logo {
    opacity: 0;
    transition: opacity 1.2s ease;

    &:hover {
      opacity: 1;
    }

  &:hover #logo {
    opacity: 1;
  }
}


