.mat-divider{
  border-width: 4px;
  border-style: dashed;
}
* {
  box-sizing: border-box;
}

.snake-border {
  padding: 20px;
  border: 3px solid #6B3FA0;
  border-radius: 50px;
  margin-bottom: -3px;
  min-height: 50px;

  &:nth-child(odd) {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 50px;
    // padding-left: 50px;
  }

  &:nth-child(even) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 50px;
    // padding-left: 5px;
  }

  &:last-child {
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 2s ease-out forwards;
}

