// Pallet main colors
// Primary 6B3FA0
// Secondary EFBF04
// Tertiary F2F2F5

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "../theme-colors" as theme;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: "Fira Code",
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Fira Code", monospace; }

// PROJECT MATERIAL OVERRIDES
:root {
  @include mat.divider-overrides((
    width: 2px,
    color: rgba(255, 255, 255, 0.671)
  ));

  @include mat.dialog-overrides((
    container-max-width: 1000px,
  ));
}

// Global classes
.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  p {
    margin-left: .5rem;
  }
}

p {
  color: #E8DFF5 !important;
}
